@font-face{
    font-family: 'arcade';
    src: url("../Fonts/zig_____.ttf");
}
html {
    background-color: silver;
}
h1 {
    text-align: center;
    font-size: 250%;
    font-family: 'arcade';
}
table {
    margin-left: 22em;
    width: 800px;
    height: 650px;
    border: black 2px solid;
	background-color: black;
	border-radius: 2em;
}
td {
    border-radius: 100px;
    background-color: white;
    border: 2px solid black;
    border-collapse: collapse;
    border-radius: 100%;
}
td:hover{
	filter: brightness(50%);
}
