@font-face{
    font-family: 'arcade';
    src: url("../Fonts/zig_____.ttf");
}
html{
	background-color: silver;
	height: 90%
}
h1{
    text-align: center;
    font-size: 250%;
    font-family: 'arcade';
}
table{
    margin-left: 22em;
    width: 800px;
    height: 650px;
    border: black 2px solid;
	background-color: black;
}
td {
    background-color: white;
    border: 2px solid black;
    border-collapse: collapse;
}
td:hover{
	filter: brightness(50%);
}
/* Barriers */
#r1c1{
	background-color: green;
}
.barrier_block{
	background-color: red;
}
/* Finish */
.finish {
	background-color: teal;
}
/*Life Counter*/
.main_container{
    height: 46px;
    width: auto;
    padding: 3px;
    margin: 2px;
    max-width: 300px;
    background-color: #555555;
    align-content: center;
}
.container_inner {
    height: auto;
    border: none;
    background-color: #555555;
    max-width: 290px;
    vertical-align: center;
    padding-top: 12px;
    padding-left: 10px;
    align-content: center;
}
.num_tiles{
    width: 30px;
    height: 30px;
    background-color: #888888;
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    line-height: 20px;
    padding: 3px;
    margin: 1.5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    vertical-align: center;
}
#myDIV {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation: mymove 1s infinite;
}
@keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}
  
@keyframes mynewmove {
    from {top: 0px;}
    to {top: 200px;}
}